main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
 /* border-bottom: 5px outset  #66381A; */
 box-sizing: border-box;
 
}

.App {
  text-align: center;
}

.main-buttons {
  
background-color: transparent;;

font-weight: 700;
}
.main-buttons--Cart {
  width: 50%;
  margin: 0 auto;
  position: relative;
  bottom: -50%;
  border:2px solid black;
  
}

.main-buttons--addCart {
  background-color:#569749;
  border:2px solid #144508;
}

.main-buttons--addCart:hover {
  border-style: ridge;
  box-shadow: 0px 15px 9px -5px #66381A ;
  border-width: 3px;
  
}



.separator {
  height:5px;
  width:100%;
  background-image: linear-gradient(#66381A 15%, white);

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
