.shopping-list {
    width: 70%;
	justify-content: center;
	display: flex;
	flex-direction:  column;
	
   
}
ul.list-plante {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	
	max-width: 100%;
	justify-content: center;
	
}

