.shopping-list {
    width: 70%;
	justify-content: center;
	display: flex;
	flex-direction:  column;
	
	
   
}
ul {
	list-style-type: none;
}
.shopping-list ul:first-child{
	display: flex;
	justify-content: space-evenly;
	font-weight: bold;


}
ul.list-plante {
	
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	
	max-width: 100%;
	justify-content: center;
	
}

