.shopping-list {
    width: 70%;
	justify-content: center;
	display: flex;
	flex-direction:  column;
	
}
.shopping-list ul:first-child{
	display: flex;
	font-weight: bold;
	justify-content: space-evenly;
} 
ul{
	list-style-type: none;
}

ul.list-plante {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 100%;
	justify-content: center;
	
}
